MQTT_URL=45ed91ba68e640d880f44148cb38bae6.s1.eu.hivemq.cloud
MQTT_USERNAME=esp32user
MQTT_PASSWORD=Esp32@IoT2025
MQTT_PORT=8883

MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_DB=smartDoorDB

PORT=3000
